<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead">This is the current ozone air quality readout for my neighborhood in New Jersey.</p>
  <hr class="my-4">
  <p><%= @api_description %></p>
  <p>Hit "Reload" in your browser to update the reading...</p>
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="#" role="button">Reload</a>
  </p>
</div>

<br/>

